
<div class="pure-g">
    <div class="pure-u-1-1 l-box"> 
      <h1>All Articles</h1>
    </div>
</div>
<div class="pure-g">
  <div>
    <% i = 1 %>
    <% @articles['results'].each do |article| %>
    <div class='pure-u-1-4 l-box'>
      <a href="http://chroniclingamerica.loc.gov<%=article['url_id']%>#<%=article['words']%>" target="_blank"><img src="http://chroniclingamerica.loc.gov<%= article['url_id']%>/thumbnail.jpg"></a><br><%= link_to 'View', article_path(i), :class => "pure-button" %> | <%= link_to ' Edit', edit_article_path(i), :class => "pure-button pure-button-primary" %>
    <% i += 1 %>
    </div>
    <% end %>
  </div>
</div>
