<h1><%= @article['itemsTitle'] %></h1>
<h2><%=@article['itemsCity']%>, <%=@article['itemsState'] %></h2>
Counter: <%= @article['counter'] %> | Params ID: <%= "#{params[:id]}" %>
<%= link_to "<Previous Page", "#{article_path("#{params[:id].to_i - 1}")}"  %>  |  <%= link_to "Next Page >", "#{article_path("#{params[:id].to_i + 1}")}" %>
<p><%= @article['itemsOcrEng'] %> </p>
<p><%= link_to('PDF Link', @article['pdf']) %></p>
<embed height="1000px" width="80%"src="<%= @article['pdf'].chomp('.pdf') %>">

<!-- <object height="1000px" width="100%" type="application/pdf" data="<%= @article['pdf'] %>"</object> -->