<div class="pure-g">
  <div class="pure-u-1-3">
    <h1><%= @article['title'] %> (View)</h1>
    
    <p><b>Date:</b> <%= @article['date'].to_s[4...6] %>/<%= @article['date'].to_s[6...8] %>/<%= @article['date'].to_s[0...4] %></p>
    <p><b>OCR Text:</b> <%= @article['ocr_eng'] %> </p>
  
    <!-- <h2><%=@article['city']%>, <%=@article['state'] %></h2> -->
    <!-- Params ID: <%= "#{params[:id]}" %><br> -->
   
      
    <!-- <p><b>Subject:</b> <%= @article['subject'] %></p><br> -->
    <%= link_to 'Edit', edit_article_path(params[:id]), :class => "pure-button pure-button-primary" %> | <%= link_to "View All", "#{articles_path}", :class => "pure-button" %> | 
    <%= link_to "< Previous", "#{article_path("#{params[:id].to_i - 1}")}", :class => "pure-button"  %>  |  <%= link_to "Next >", "#{article_path("#{params[:id].to_i + 1}")}", :class => "pure-button" %>
    </div>
    <div class="pure-u-2-3">
    <p><%= link_to('PDF Link', "http://chroniclingamerica.loc.gov" + @article['url_id'][0..-2] + ".pdf", target: :_blank)%> </p>
    http://chroniclingamerica.loc.gov<%= @article['url_id']%>#<%= @article['words'] %>
    <embed height="1000px" width="100%"src="http://chroniclingamerica.loc.gov<%= @article['url_id']%>#&words=<%= @article['words'] %>">
  </div>
  </div>




<!-- <object height="1000px" width="100%" type="application/pdf" data="<%= @article['pdf'] %>"</object> -->